html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul#menu li {
  float: left;
}

ul#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul#menu li a:hover {
  background-color: #111111;
}

table#posts {
  border-collapse: collapse;
  width: 100%;
}

table#posts td, th {
  border: 1px solid rgba(221, 221, 221, 0.56);
  text-align: left;
  padding: 8px;
}

table#posts tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.56);
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}